/* General styling for the app */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.file-name {
  margin: 15px 0;
  font-size: 14px;
  color: #333;
}

.upload-section:hover {
  border-color: #4caf50;
}

.file-input-label {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.file-input-label:hover {
  background-color: #45a049;
}

.file-input-label input[type="file"] {
  display: none;
}

.file-name {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
}
.remove-file-button{
  background-color: red;
  height: 1.5rem;
  cursor: pointer;
}

button {
  background-color: rgba(0, 255, 34, 0.568);
  height: 2rem;
  padding: 0 20px;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(145deg, rgba(0, 255, 34, 0.568), rgba(0, 220, 30, 0.6));
}

button:hover {
  background-image: linear-gradient(145deg, rgba(0, 220, 30, 0.6), rgba(0, 255, 34, 0.568));
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  color: #fff;
}

button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the result section */
.result {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.832);
  border: 2px solid black;
}

.result h2 {
  margin-top: 0;
}

.result p {
  margin: 10px 0;
  font-size: 16px;
}

.result pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 14px;
}

@media (max-width: 768px) {
  .upload-section,
  .result {
    width: 90%;
    padding: 15px;
  }
}
